.layout {
    display: flex;
}

.page-header {
    font-family: 'Roboto-Slab, serif';
}

#example-graph {
    background-color: red;
}

.first-plot {
    background-color: white;
    width: 85%;
}

.second-plot {
    width: 48%;
}
